@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    letter-spacing: -0.25px;
}
body {
    background-color: #f9f9f9;
}
section {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.left {
    position:fixed;
    width: 250px;
    height: 100%;
    padding: 20px 0px;
    background-color: #fff;
    box-shadow: 2px 0px 8px rgba(0,0,0,0.04);
    z-index: 9;
}
.cont {
    min-width: 800px;
    width: 100%; 
    height: 100%;
    margin-left:250px;
}
.header {
    display: block;
    font-weight: 800;
    font-size: 1.3em;
    padding: 25px;
    text-align: center;
    cursor: pointer;
    opacity: 0.8;
    color: #191919;
    text-decoration: none;
}
.header:hover{
    opacity:1;
}

/* Radio */
.radio {
	display: none;
}
.radio + label {
	background-color: #fff;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 50px;
	display: inline-block;
	position: relative;
}
.radio:checked + label:after {
	content: ' ';
	width: 12px;
	height: 12px;
	border-radius: 50px;
	position: absolute;
	top: 3px;
	background: #00a1b7;
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
	text-shadow: 0px;
	left: 3px;
	font-size: 32px;
}
.radio:checked + label {
	background-color: #e9ecee;
	color: #00a1b7;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1), inset 0px 0px 10px rgba(0,0,0,0.1);
}
.radio + label:active, .radio:checked + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
.big-radio + label {
	padding: 16px;
    margin: 0.5em 1em 0.5em 0;
    vertical-align: middle;
}
.big-radio:checked + label:after {
	width: 24px;
	height: 24px;
	left: 4px;
	top: 4px;
}
.radio-style {
	line-height: 150%;
	align-items: center;
}

/* check box */
label {
	display: inline;
}
.checkbox {
	display: none;
}
.checkbox + label {
	background-color: #fff;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}
.checkbox + label:active, .checkbox:checked + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
.checkbox:checked + label {
	background-color: #e9ecee;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #00a1b7
}
.checkbox:checked + label:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #00a1b7
}
.big-checkbox + label {
	padding: 16px;
    margin: 0.5em 0.5em 0.5em 0;
	vertical-align: middle; 
}
.big-checkbox:checked + label:after {
	font-size: 24px;
	left: 4px;
}
.checkbox-style {
	font-size: 16px;
	align-items: center;
}


/* menu-box */
.menu-box .menu-text {
    margin: 0 auto;
    display: flex;
    font-weight: 600;
    font-size: 16px;
    color: #555;
    width: 100%;
    cursor: pointer;
    flex-direction: column;
    gap: 0;
}
.menu-box .menu-text .click{
    font-weight: 700;
    line-height: 20px;
    background-color: #00a1b7;
    color: #fff;
    flex-wrap: wrap;
    cursor: default;
}
.menu {
    width: 100%;
    padding: 20px;
    margin: 0;
    box-sizing: border-box;
    transition: 0.2s;
}
.menu:hover {
    background-color:#d9eef1;
    color: #555;
}

/* form-box */
.form-box .menu-step {
 	width: 90%;
 	margin: 0 auto;
	font-weight: normal;
	font-size: 16px;
}
.form-box .intro {
    display: flex;
    justify-content: left;
    width: 90%;
    padding: 24px 30px;
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
    color: #000;
    background: #BBE3E8;
    border-radius: 10px;
	margin: 30px auto 40px;
    box-sizing: border-box;
}
.form-box .menu-step .select {
    margin-bottom: 2.5em;
}
.form-box .menu-step .select-item {
   font-weight: bold;
   color: #191919;
   font-size: 18px;
}

/* step1 */
input::placeholder{
    color: #999;
}
.input-box {
    width: 500px;
    font-size: 16px;
    line-height: 150%;
    height: 50px;
    padding: 0 16px;
    border : 1px solid #ddd;
    border-radius: 8px;
    outline:none;
}

input:focus {
    box-shadow: 0 0 0 2px #0CB2C9 inset;
}

/* 항목 제목 */
.const-item {
    font-size: 18px;
    font-weight: 700;
    color: #191919;
}

/* 선택지 컬러 #333 */
.const-feature, .radio-style {
    color:#333;
}

#step1 .input-color {
    width: 100%;
    height: auto;
    display: flex;
}
#step1 .color-box {
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 10px;
}
#step1 .color-plus {
    width: 77px;
    height: 77px;
    float: left;
    margin-right: 10px;
    background-color: #f9f9f9;
    border: 1px dashed rgb(158, 156, 156);
    cursor: pointer;
}

/* step2 */
.detail-content {
    display: flex;
    justify-content: space-between;
	margin-left: 10px;
}


.Reference-button {
    color: #333;
    font-weight: 600;
    border: 2px solid #333;
    background: #fff;
    border-radius: 8px;
    font-size: 16px;
    margin: 20px 0;
    padding: 16px 20px;
    cursor: pointer;
}
.Reference-button:hover{
    background: #f4f4f4;
}
.main-div .main-div-img {
	max-width: 60%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.main-div .main-div-img .basic {
    max-width: 60%;
}

.main-div .main-div-img .mobile {
    max-width: 40%;
    width: 200px;
}

/* step3 */
#step3 .step3-page {
	display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-direction: row;
    padding: 0;
    box-sizing: border-box;
}
#step3 .default {
    width: 250px;
    background: #efefef;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px 20px;
    margin-right: 20px;
}
#step3 ol {
    list-style-position: outside;
    padding-left: 10px;
	margin-left: 10px;
	font-size: 16px;
	line-height: 250%;
}
#step3 .optional { 
    width: 80%;
	padding: 10px 20px;
    border-radius: 8px;
    border: 1px solid #ddd;	
    background-color: #fff;
}


#step3 .comment {
	font-weight: medium;
	color: #f83131;
}

/* step4 */
#step4 .select-table {
    display: inline-block;
    border: 1px solid #444;
    border-radius: 8px;
    overflow: hidden;
	margin-bottom: 2em;
    background-color: #fff;
}

#step4 #const-table {
    border-collapse: collapse;
	text-align: center;

}

#step4 #const-table td {
    border-right: 1px solid #444;
    padding: 20px 40px;
}
#step4 #const-table td:last-child{
    border-right: 0;
}

.clickable-cell {
	cursor: pointer;
	transition: background-color 0.2s;
}

.clickable-cell:hover{
    background: #f4f4f4;
}
.clicked {
	color: white;
    font-weight: 700;
	background-color: black;
}
.clicked:hover {
    background-color: black;
}

#step4 .const-img {
	margin-top: 30px;
    max-width: 60%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}
.const-img .mobile {
    width: 13%;
    object-fit: cover;
}
.const-img .basic {
    width: 40%;
    object-fit: cover;
}
.const-receipt .basic {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 5%;
	width: 50%;
}
.img-content {
	margin-left: 5%;
}
.img-content .basic {
	width: 50%;
}
.contact-content .basic {
	margin-left: 5%;
	width: 30%;
}
.insta-img {
	display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
	gap: 15px;
}
.insta-img .basic {
	width: 40%;
}
.insta-img .mobile {
	width: 20%;
}

/* step5 */
#step5 .font-select {
	display: flex;
}
#step5 .font-radio-style {
	width: 50%;
	font-size: 16px;
	line-height: 300%;
}
#step5 .input-box {
    width: 400px;
}

/* step6 */
#step6 .sticky-checkbox {
    display: flex;
    /*justify-content: center;*/
    /* align-items: flex-start; */
    /* align-items: center; */
	margin-bottom: 30px;
}
#step6 .checkbox-style {
    font-weight: bold;
    width: 6em;
}
#step6 .step6-cont{
    margin-top: 12px;
    margin-left: 6em;
}
#step6 .sticky {
    width: 60%;
}
#step7 .phonenumber{
    letter-spacing: 0;
}
/* text style */
.basic-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #656565;
    flex-wrap: wrap;
    margin-bottom: 15px;
    text-align: left;
}

/* button style */
.btn {
    font-size: 16px;
	text-align: center;
    margin: 80px auto 0;
    padding-bottom: 80px;
}
.pre-btn {
    display: inline-flex;
    padding: 20px 50px;
    font-weight: 600;
    color: #222;
    border: 1px solid #222;
    border-radius: 8px;
    cursor: pointer;
	margin-right: 24px;
    opacity: 0.9;
}
.next-btn {
    display: inline-flex;
    padding: 20px 50px;
    color: #fcfcfc;
    font-weight: 600;
    background: #222;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    opacity: 0.9;
}
.next-btn.inactive{
    opacity:0.5;
    cursor:default;
}
.next-btn.inactive:hover{
    opacity:0.5;
}

.pre-btn:hover, .next-btn:hover {
    opacity: 1;
}
.pre-btn:hover{
    background: #f7f7f7;
}

.submit-btn {
    display: inline-flex;
    padding: 20px 50px;
    color: #fff;
    background: #0CB2C9;
    border: none;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}
.submit-btn:hover{
    background: #00a1b7
}